/* google font MULISH */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--font-family: 'Mulish', sans-serif;
	--white-color: hsl(0, 0%, 100%);
	--back-color: hsl(0, 0%, 0%);
	--light-white-color: hsla(0, 0%, 94%, 0.941);
	--light-grey-color: hsla(0, 0%, 90%, 0.898);
	--border-color: hsl(0, 0%, 83%);
	--primary-color: hsl(217, 93%, 60%);
	--secondary-color: hsl(0, 0%, 25%);
	--overlay-color: hsla(0, 0%, 0%, 0.6);
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header,
.category-list {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: var(--white-color);
}
* {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-style: normal;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.navbar {
	display: flex;
	align-items: center;
	padding: 0.5em 1em;
	justify-content: space-between;
	gap: 2em;
}
.navbar :where(.nav-section, .search-form, .nav-logo) {
	display: flex;
	align-items: center;
}
.nav-section {
	gap: 1em;
}
.navbar :where(.logo-iamge, .user-image) {
	width: 32px;
	height: 32px;
	object-fit: cover;
	cursor: pointer;
	border-radius: 50%;
}
.navbar .nav-button {
	border: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
	transition: 300ms ease;
	&:hover {
		background-color: var(--light-grey-color);
	}
}
.navbar .nav-button i {
	display: flex;
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
}
.navbar .nav-logo {
	display: flex;
	gap: 0.5em;
	text-decoration: none;
}
.navbar .nav-logo .logo-text {
	font-size: 1.25em;
	color: var(--back-color);
}
.navbar .nav-center {
	display: flex;
	width: 100%;
	justify-content: center;
}
.navbar .search-form {
	max-width: 550px;
	flex: 1;
	height: 40px;
}
.navbar .search-form .search-input {
	width: 100%;
	height: 100%;
	padding: 0 1em;
	border-radius: 3.1em 0 0 3.1em;
	outline: none;
	font-size: 1em;
	border: 1px solid var(--border-color);
}
.navbar .search-form .search-button {
	width: auto;
	padding: 0 1.25em;
	border-radius: 0 3.1em 3.1em 0;
	border: 1px solid var(--border-color);
	border-left: 0;
}
.main-layout {
	display: flex;
	overflow-y: auto;
}
.main-layout .content-wrapper {
	padding: 0 1em;
	overflow-x: hidden;
	width: 100%;
}
.content-wrapper .category-list {
	display: flex;
	overflow-x: auto;
	scrollbar-width: none;
	gap: 0.75em;
	padding: 0.75em 0 0.7em;
}
.category-list .category-button {
	border: none;
	cursor: pointer;
	white-space: nowrap;
	font-size: 0.9em;
	font-weight: 500;
	padding: 0.4em 0.75em;
	border-radius: 0.5em;
	background-color: var(--light-grey-color);
	transition: 300ms ease;
	&:hover {
		background-color: var(--border-color);
	}
	&.active {
		color: var(--white-color);
		background-color: var(--back-color);
		pointer-events: none;
	}
}
.video-list .video-card {
	text-decoration: none;
}
.content-wrapper .video-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1em;
	padding: 1.25em 0 4em;
}
.video-list .video-card .video-info {
	display: flex;
	gap: 0.7em;
	padding: 0.7em 0.5em;
}
.video-list .video-card .thumbnail-container {
	position: relative;
}
.video-list .video-card .duration {
	position: absolute;
	right: 0.66em;
	bottom: 0.8em;
	color: hsl(0, 0%, 100%);
	font-size: 0.75em;
	padding: 0 0.3em;
	border-radius: 0.3em;
	background-color: var(--overlay-color);
}
.video-list .video-card .thumbnail {
	width: 100%;
	border-radius: 0.5em;
	aspect-ratio: 16 / 9;
}
.video-list .video-card .icon {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
.video-list .video-card .title {
	font-size: 1em;
	font-weight: 600;
	color: var(--back-color);
	transition: 300ms ease;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	&:hover {
		color: var(--primary-color);
	}
}
.video-list .video-card p {
	font-size: 0.875em;
	color: var(--secondary-color);
}
.video-list .video-card .channel-name {
	margin: 0.25em 0 0.15em;
}
